body {
  font-family: $primary-font;
}

.logo-placeholder {
  vertical-align: middle;
  width: 80px;

  .main-img {
    display: flex;
    justify-content: center;

    .desktop-logo {
      display: block;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
.page-title {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #ecf0f1;
  display: inline-block;
  padding: 0.8rem 1rem 1rem 1rem;
  margin-left: -30px;
  cursor: pointer;
}

// body wrapper
.main-container {
  .content-container {
    .side-nav-container {
      background-color: #e8e8e8;
    }

    .content-area {
      background-color: #f5f5f5;
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .inner-wrapper {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
      background-color: #fff;
      box-shadow: 1px 3px 4px -1px #ccc;
      height: 100%;
    }
  }
}

// side bar wrapper
.sidebar-left {
  .active {
    background-color: #ecf1f5 !important;
  }
}

// welcome component
.welcome-container {
  .heading {
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 0.05em;
    float: left;
  }

  .image {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-top: 40px;
  }

  .content {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: medium;
  }

  .start-btn {
    display: block;
    margin-left: auto;
  }
}

// pre loading spinner
.pre-loader {
  position: fixed;
  z-index: 99999999;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  opacity: 0.6;

  .spinner {
    top: 40%;
    left: 50%;
  }
}

.pre-loader-text {
  opacity: 0.8;
  position: fixed;
  z-index: 99999999;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 47%;
  left: 49.5%;
  width: auto;
  height: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .pre-loader {
    .spinner {
      left: 45%;
    }
  }
  .pre-loader-text {
    left: 41%;
  }
}

// surve complete component
.complete-container {
  .heading {
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 0.05em;
    float: left;
  }

  .image {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  .content {
    margin-top: 25px;
    font-size: x-large;
    text-align: center;
  }

  .disorder {
    font-size: large;
    text-align: center;
  }

  .start-btn {
    display: block;
    margin-left: auto;
  }
}
