<div class="sidebar-left">
  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="isCollapsed">
    <a clrVerticalNavLink routerLink="/am/profile" routerLinkActive="active" title="Survey">
      <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Profile
    </a>
    <a clrVerticalNavLink routerLink="/am/survey" routerLinkActive="active" title="Survey">
      <clr-icon clrVerticalNavIcon shape="library"></clr-icon>
        Survey
    </a>
  </clr-vertical-nav>
</div>