<div class="welcome-container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <h3 class="heading">Welcome to Behavior Analysis!</h3>
    </div>
    <div class="col-lg-4 col-md-4">
      <button class="btn btn-primary btn-md start-btn" name="button" (click)="navigateToSurvey()">Start Survey</button>
    </div>
  </div>
  <img class="image" src="assets/images/welcome.png" alt="welcome" />
  <p class="content">
    Behavior analysis is a cloud based survey designed to asses individuals mental health status. <br>
    Aim of this survey is to give user an accurate and reliable information on their mental health status based on
    behavioral measures and symptoms which can identify mental health disorders, and classify whether
    users have normal mental health condition, or whether they belong to any category of mental health disorder such
    as anxiety, depression, loneliness, or stress and finally suggest further steps needed to be taken.
  </p>
</div>